# Eclipse project files
.pydevproject
.project
.settings

# Pycharm project files
.idea

# Python cache files
*.py[cdo]

# Documentation build
docs/build

# Ignore specific files
main.py
example.py

# Log files
*.log

# Virtual environment
virtualenv/
venv/

# OSX files
.DS_Store

# Build
build/
build/
.idea
.roomodes
tmp/
reports/
logs/
